{% with request.resolver_match.view_name as view_name %}
  <article>
      <ul>
        <li>
          Место: {{ post.location }}             
        </li>
        <li>
          Дата: {{ post.date }}
        </li>
        <li>
          Категория: <a href="{% url 'blog:category_posts' post.category %}">{{ post.category }}</a>
        </li>
      </ul>
      {% if view_name == 'blog:index' %}       
      <p>
          {{ post.text|truncatewords:10 }}
      </p>
      <a href="{% url 'blog:post_detail' post.id %}">Читать полный текст</a>
      {% endif %}
      {% if view_name == 'blog:post_detail' %}
      <p>
        {{ post.text|linebreaksbr }}
      </p>
      {% endif %}
  </article>
{% endwith %}